body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    background-color: #F6F7F8;
}

.mainAddTask {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.headAddTask {
    width: 428px;
}

.taskInfo {
    width: 396px;
}

h4 {
    margin-block-end: 0px;
}

.brd-r10 {
    border-radius: 10px;
}

.brd-red {
    border: 1px solid #ff3d00 !important;
}

.brd-white {
    border: 2px solid white !important;
}

.brd-transparent {
    border: transparent;
}

.width-100 {
    width: 340px;
}

.width-396 {
    width: 396px;
}

.item:hover {
    cursor: pointer;
}

.item::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

h1 {
    font-size: 47px;
    padding-left: 16px;
    gap: 20px;
    margin-block-end: 16px;
}

.h4-gap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    width: 100%;
}

.titleInput {
    height: 40px;
    width: 382px;
    border: 1px solid #D1D1D1;
    padding-left: 10px;
}

.descriptionInput {
    width: 382px;
    height: 88px;
    border-color: #D1D1D1;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
    gap: 10px;
}

textarea::placeholder {
    padding-left: 2px;
    font-family: 'Inter';
    color: #D1D1D1;
}

textarea:focus {
    outline: none !important;
}

input::placeholder {
    padding: 2px;
    font-family: 'Inter';
    color: #D1D1D1;
}

input[type="date"] {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Inter';
    height: 40px;
    border: 1px solid #D1D1D1;
}

input:focus {
    outline: none !important;
}

.prio {
    display: flex;
    justify-content: space-between;
}

.prio a {
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    outline: none;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 400;
    font-family: 'Inter';
    height: 41px;
}

.btnSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

select {
    width: 100%;
    height: 40px;
    border: 1px solid #D1D1D1;
    padding-left: 10px;
    padding-right: 10px;
}

.contactSelector {
    display: flex;
    justify-content: space-between;
    background-color: white !important;
    border: 1px solid #D1D1D1;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 10px 16px 10px 16px;
}

.selector:focus {
    outline: none;
}

select option {
    padding: 10px;
}

.selectedSvg {
    filter: brightness(0%) invert(100%);
}

.disableBtn {
    pointer-events: none;
}

.urgentBtn {
    color: white;
    background-color: #ff3d00 !important;
}

.mediumBtn {
    color: white;
    background-color: #ffa800 !important;
}

.lowBtn {
    color: white;
    background-color: #7ae229 !important;
}

#subTaskInputCover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #D1D1D1;
    font-size: 13px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    width: 374px;
    background-color: white;
    border: 1px solid #D1D1D1;
}

.subTaskInput {
    height: 40px;
    width: 100%;
    display: flex;
}

.subTaskInput input {
    width: 89%;
    margin-right: -6px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Inter';
    height: 100%;
    border: 1px solid #29abe2;
    border-right: transparent !important;
}

.subInputButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    width: 15%;
    height: 42px;
    border: 1px solid #29abe2;
    border-left: transparent !important;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.selectedSubInput {
    border: 1px solid #29abe2 !important;
}

.subListElement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subListElementButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.createBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    gap: 10px;
}

.create {
    width: 160px;
    color: white;
    background-color: #2a3647;
}

.clear {
    width: 100px;
    background-color: transparent;
    color: black;
    border: 1px solid #2a3647;
}

.createBtn a {
    min-height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.create:hover {
    cursor: pointer;
    background-color: #29abe2;
    border: transparent;
    -webkit-box-shadow: 1px 8px 11px -3px rgba(0, 0, 0, 0.43);
    box-shadow: 1px 8px 11px -3px rgba(0, 0, 0, 0.43);
}

.clear:hover {
    cursor: pointer;
    border-color: #29abe2;
    fill: #29abe2;
    color: #29abe2;
    -webkit-box-shadow: 1px 8px 11px -3px rgba(0, 0, 0, 0.43);
    filter: brightness(0) saturate(100%) invert(54%) sepia(98%) saturate(894%) hue-rotate(165deg) brightness(93%) contrast(91%);
    box-shadow: 1px 8px 11px -3px rgba(0, 0, 0, 0.43) !important;
}

.border {
    width: 1px;
    height: 350px;
    margin-top: 25px;
    background-color: #D1D1D1;
}

.categorySelector {
    width: 368px;
    background-color: white;
    height: 40px;
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 16px;
}

#allOptions {
    width: 374px;
    background-color: white;
    border: 1px solid #D1D1D1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.assignedTo {
    width: 100%;
}

.assignedTo h4 {
    padding-bottom: 8px;
}

.selector {
    max-height: 130px;
    overflow: auto;
    width: 394px;
    position: absolute;
    background-color: white;
    border: 1px solid #D1D1D1;
    z-index: 999;
}

.scrollbar::-webkit-scrollbar-track {

	border-radius: 10px;
	background-color: #F6F7F8;
}

.scrollbar::-webkit-scrollbar {
    padding: 10px;
	width: 10px;
	background-color: white;
}

.scrollbar::-webkit-scrollbar-thumb {
    padding: 10px;
	border-radius: 10px;
	background-color: #D1D1D1;
}

.singleContact {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.overSelect {
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.eachContact {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#contactInitial {
    display: flex;
    padding: 10px;
    padding-bottom: 0;
    gap: 4px;
}

.addNewContact {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.addNewContactBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #2a3647;
    color: white;
    font-size: 20px;
    width: 95%;
    height: 40px;
}

.listedSubTasks {
    max-height: 120px;
    overflow: auto;
}

.subListElement .subListInnerElement {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 8px;
   padding: 16px 8px 0px 8px;
}

.subBorder {
    height: 20px;
    width: 1px;
    background-color: #D1D1D1;
}

.editSub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.editSub input {
    width: 80%;
    height: 30px;
    padding-left: 10px;
    border: transparent;
    border-bottom: 1px solid #29abe2;
}

.editListElementButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 4px 6px 4px 0px;
    width: 20%;
    border-bottom: 1px solid #29abe2;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

@media (min-width: 1200px) {

    .mainAddTask {
        display: flex;
        align-items: flex-start;
        margin-left: 140px;
    }

    .headAddTask {
        text-align: start;
    }

    .taskInfo {
        width: 90%;
        display: flex;
        gap: 24px;
    }

    .rightSite {
        max-width: 40%;
    }

    .border {
        display: block !important;
    }

    .clear {
        display: flex !important;
    }
}