@media (min-width: 1160px) {
    .mainAddTask {
        top: 96px;
        left: 232px;
        min-width: 472px;
        width: calc(100% - 232px);
        height: calc(100% - 96px);
        display: flex;
        align-items: flex-start;
        padding: 80px 64px 0 64px;
        transition: margin 75ms ease-in;
    }

    .mainAddTask h1 {
        margin-top: 0;
        margin-bottom: 32px;
    }

    .headAddTask {
        text-align: start;
    }


    .taskData {
        width: 800px !important;
        gap: 24px;
        overflow-y: unset !important;
    }

    .taskDataFields {
        display: flex;
        flex-direction: row;
    }

    .addTaskBtns {
        width: 800px !important;
    }

    .clear {
        display: flex !important;
    }

    .rightSite {
        /* height: 590px; */
        display: flex !important;
        flex-direction: column;
    }

    h1 {
        padding-left: 0;
    }

    .separator-border {
        display: block !important;
        width: 1px;
        /* z-index: 999; */
    }
}

@media (min-width: 1000px) {
    .mainAddTask {
        top: 96px;
        left: 232px;
        min-width: 472px;
        width: calc(100% - 232px);
        height: calc(100% - 96px);
        display: flex;
        align-items: flex-start;
        padding: 40px 64px 0 64px;
        transition: margin 75ms ease-in;
    }

    .mainAddTask h1 {
        font-size: 61px;
    }
}

@media (max-width: 600px) {
    .mainAddTask {
        /* margin-top: 0px !important; */
        /* top: 0px; */
        display: flex;
        justify-content: center;
        /* padding: 80px 48px 0 48px; */
        /* margin-left: 0 !important; */
    }

    .title {
        margin-block-start: 0px !important;
    }
}

@media (max-width: 420px) {
    h1 {
        margin: 0;
        padding-left: 0;
    }

    h4 {
        margin-block-start: 20px;
    }

    .headAddTask {
        width: 315px;
    }

    .width-396 {
        width: 290px;
    }

    .taskData {
        width: 315px !important;
    }

    .addTaskBtns {
        width: 315px !important;
    }

    .requiredInfo p {
        margin-block-end: 0px;
    }

    .rightSite {
        width: auto;
    }

    .titleInput {
        width: 300px;
    }

    .descriptionInput {
        width: 300px;
    }

    .btnSection {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding-left: 16px;
    }

    .prio a {
        width: 60%;
    }

    input[type="date"] {
        width: 300px !important;
    }

    .categorySelector {
        width: 287px;
    }

    .selector {
        width: 312px;
    }

    #allOptions {
        width: 293px;
    }

    #subTaskInputCover {
        width: 293px;
    }

    .createBtn {
        margin-top: 30px;
        width: 296px;
    }

    .input-date-img {
        margin-left: 262px;
    }

    .subInputButton {
        width: 20%;
    }
}