/* inter-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/inter-v12-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/inter-v12-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/inter-v12-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/inter-v12-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/inter-v12-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/inter-v12-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/inter-v12-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/inter-v12-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/inter-v12-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    background-color: #F6F7F8;
}

.mainAddTask {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.headAddTask {
    width: 428px;
}

.taskInfo {
    width: 396px;
}

h4 {
    margin-block-end: 0px;
}

.brd-r10 {
    border-radius: 10px;
}

.width-396 {
    width: 396px;
}

.item:hover {
    cursor: pointer;
}

.item::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

h1 {
    font-size: 47px;
    padding-left: 16px;
    gap: 20px;
    margin-block-end: 16px;
}

.h4-gap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    width: 100%;
}

.titleInput {
    height: 40px;
    width: 382px;
    border: 1px solid #D1D1D1;
    padding-left: 10px;
}

.descriptionInput {
    width: 382px;
    height: 88px;
    border-color: #D1D1D1;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
    gap: 10px;
}

textarea::placeholder {
    padding-left: 2px;
    font-family: 'Inter';
    color: #D1D1D1;
}

textarea:focus {
    outline: none !important;
}

input::placeholder {
    padding: 2px;
    font-family: 'Inter';
    color: #D1D1D1;
}

input[type="date"] {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Inter';
    height: 40px;
    border: 1px solid #D1D1D1;
}

input:focus {
    outline: none !important;
}

.prio {
    display: flex;
    justify-content: space-between;
}

.prio a {
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    outline: none;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 400;
    font-family: 'Inter';
    height: 41px;
}

.btnSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

select {
    width: 100%;
    height: 40px;
    border: 1px solid #D1D1D1;
    padding-left: 10px;
    padding-right: 10px;
}

.selector {
    background-color: white !important;
    background: url(../assets/img/arrow_drop_down.svg) no-repeat;
    background-position: right 14px top 18px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 5px 5px;
}

.selector:focus {
    outline: none;
}

select option {
    padding: 10px;
}

.selectedSvg {
    filter: brightness(0%) invert(100%);
}

.disableBtn {
    pointer-events: none;
}

.urgentBtn {
    color: white;
    background-color: #ff3d00 !important;
}

.mediumBtn {
    color: white;
    background-color: #ffa800 !important;
}

.lowBtn {
    color: white;
    background-color: #7ae229 !important;
}

.subTaskInput {
    width: 100%;
    display: flex;
}

.subTaskInput input {
    width: 89%;
    margin-right: -6px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Inter';
    height: 40px;
    border: 1px solid #D1D1D1;
    border-right: transparent !important;
}

.subTaskInput button {
    padding: 0 !important;
    width: 14%;
    height: 44px;
    border: 1px solid #D1D1D1;
    border-left: transparent !important;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.subTaskInput button {
    width: 34px;
}

.subTaskInput button img:hover {
    cursor: pointer;
}

.createBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    gap: 10px;
}

.create {
    width: 160px;
    color: white;
    background-color: #2a3647;
}

.clear {
    width: 100px;
    background-color: transparent;
    color: black;
    border: 1px solid #2a3647;
}

.createBtn a {
    min-height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.create:hover {
    cursor: pointer;
    background-color: #29abe2;
    border: transparent;
    -webkit-box-shadow: 1px 8px 11px -3px rgba(0, 0, 0, 0.43);
    box-shadow: 1px 8px 11px -3px rgba(0, 0, 0, 0.43);
}

.clear:hover {
    cursor: pointer;
    border-color: #29abe2;
    fill: #29abe2;
    color: #29abe2;
    -webkit-box-shadow: 1px 8px 11px -3px rgba(0, 0, 0, 0.43);
    box-shadow: 1px 8px 11px -3px rgba(0, 0, 0, 0.43);
}

.border {
    width: 1px;
    height: 350px;
    margin-top: 25px;
    background-color: #D1D1D1;
}

.d-none {
    display: none !important;
}

@media (min-width: 1200px) {

    .mainAddTask {
        display: flex;
        align-items: flex-start;
        margin-left: 140px;
    }

    .headAddTask {
        text-align: start;
    }

    .taskInfo {
        width: 90%;
        display: flex;
        gap: 24px;
    }

    .rightSite {
        max-width: 40%;
    }

    .border {
        display: block !important;
    }

    .clear {
        display: flex !important;
    }
}