/* inter-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/inter-v12-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-200 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/inter-v12-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/inter-v12-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/inter-v12-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/inter-v12-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/inter-v12-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/inter-v12-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/inter-v12-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    background-color: #F6F7F8;
  }

  .mainAddTask {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .headAddTask {
    width: 428px;
  }

  .taskInfo {
    width: 396px;
  }

  h4 {
    margin-block-end: 0px;
  }

  .brd-r10 {
    border-radius: 10px;
  }

  .width-396 {
    width: 396px;
  }

  .item:hover {
    cursor: pointer;
  }

  h1 {
    font-size: 47px;
    padding-left: 16px;
    gap: 20px;
    margin-block-end: 16px;
  }

  .h4-gap {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .title {
    width: 100%;
  }

  .titleInput {
    height: 40px;
    width: 99%;
    border: 1px solid #D1D1D1;
  }

  .descriptionInput {
    width: 99%;
    height: 88px;
    border-color: #D1D1D1;
    padding: 18px, 21px, 18px, 21px;
    resize: none;
    gap: 10px;
  }

  textarea::placeholder {
    padding: 10px;
    font-family: 'Inter';
    color: #D1D1D1;
  }

  input::placeholder {
    padding: 10px;
    font-family: 'Inter';
    color: #D1D1D1;
  }

  input[type="date"] {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Inter';
    height: 40px;
    border: 1px solid #D1D1D1;
  }

  .prio {
    display: flex;
    justify-content: space-between;
  }

  .prio a {
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    outline: none;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 400;
    font-family: 'Inter';
    height: 41px;
  }

  .btnSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  select {
    width: 100%;
    height: 40px;
    border: 1px solid #D1D1D1;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  select option {
    padding: 10px;
  }