@media (max-width: 1199px) {
    .mainAddTask {
        margin-left: 48px !important;
    }
}

@media (min-width: 1150px) {
    .mainAddTask {
        align-items: flex-start;
    }

    .taskInfo {
        display: flex;
    }

    .border {
        display: block !important;
        width: 1px;
        /* z-index: 999; */
    }

}

@media (min-width: 1000px) {

    .mainAddTask {
        min-width: 472px;
        width: calc(100% - 232px);
        height: calc(100% - 96px);
        left: 232px;
        top: 96px;
        display: flex;
        align-items: flex-start;
        margin-left: 96px;
        transition: margin 75ms ease-in;
    }

    .headAddTask {
        text-align: start;
    }

    .taskInfo {
        /* width: 90% !important; */
        width: 100%;
        /* height: 600px !important; */
        gap: 24px;
    }

    .clear {
        display: flex !important;
    }

    .rightSite {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
    }

    h1 {
        padding-left: 0;
    }
}

@media (max-width: 600px) {
    .mainAddTask {
        display: flex;
        justify-content: center;
        margin-left: 0 !important;
    }
}

@media (max-width: 420px) {
    h1 {
        margin-block-start: 16px;
        margin-block-end: 0px;
        padding-left: 0;
    }

    h4 {
        margin-block-start: 20px;
    }

    .headAddTask {
        width: 315px;
    }

    .width-396 {
        width: 315px;
    }

    .taskInfo {
        width: 315px !important;
    }

    .titleInput {
        width: 300px;
    }

    .descriptionInput {
        width: 300px;
    }

    .btnSection {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .prio a {
        width: 60%;
    }

    input[type="date"] {
        width: 293px;
    }

    .categorySelector {
        width: 287px;
    }

    .selector {
        width: 312px;
    }

    #allOptions {
        width: 293px;
    }

    #subTaskInputCover {
        width: 293px;
    }

    .createBtn {
        margin-top: 30px;
    }
}