.main {
    position: relative;
    left: 0;
    top: 80px;
    width: calc(100% - 0px);
    height: calc(100% - 160px);
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.s1 {
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 10px;
    padding: 12px;
    box-sizing: border-box;
}

.s1:has(input:focus) {
    border-color: cornflowerblue;
}

form input, form button {
    outline: unset;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: transparent;
}

form input {
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

form button {
    min-width: 200px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: #fff;
    cursor: pointer;
}

#i1 {
    width: 50px;
}

form button:hover {
    background-color: rgb(51, 106, 207);
}

@media (min-width: 1000px) {
    .main {
        width: calc(100% - 232px);
        height: calc(100% - 96px);
        left: 232px;
        top: 96px;
    }
}