/* GENERAL STYLING */

html {
  overflow: hidden !important;
  word-wrap: break-word;
}

.board-content div {
  box-sizing: border-box;
}

h1 {
  font-size: 47px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
}

h3 {
  font-size: 27px;
  font-weight: 700;
}

input::placeholder {
  color: var(--color-lighter-grey);
}

.v-line-separator {
  width: 1px;
  background-color: var(--color-lighter-grey);
  height: 31px;
}

.profile-badge {
  width: 30px;
  min-width: 30px;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--color-white);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 12px;
}

.bdc-white {
  border-color: white;
}

/* Buttons */
button {
  background-color: transparent;
  border: none;
}

.add-task-button-blue {
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: var(--color-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOARD MAIN */

.board-main-container {
  padding: 48px 16px;
  position: absolute;
  top: 80px;
  height: calc(100% - 160px);
  width: 100%;
  overflow-y: scroll;
  background-color: var(--color-darker-white);
  box-sizing: border-box;
}

.board-main-container::-webkit-scrollbar {
  display: none;
}

.board-main-container div {
  box-sizing: border-box;
}

/* BOARD HEADER */

.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 24px;
}

.board-header-right {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

/* Searchbar */
.board-searchbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  padding: 8px 16px;
  width: 100%;
  background-color: var(--color-white);
}

.board-searchbar-container:focus-within {
  border: 1px solid var(--color-blue);
}

.board-searchbar-container-inner-right {
  display: flex;
  gap: 16px;
}

.board-searchbar {
  height: 32px;
  border: none;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
}

.board-searchbar:focus {
  outline: none;
}

/* BOARD BODY */

.board-body {
  display: flex;
  flex-direction: column;
}

.task-section {
  margin-bottom: 26px;
}

.task-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  margin-bottom: 16px;
}

.task-section-body {
  display: flex;
  gap: 16px;
  position: relative;
  overflow-x: scroll;
  overflow-y: visible;
  padding: 10px;
}

.task-section-body::-webkit-scrollbar {
  display: none;
}

/* Add Task Button Outlined */
.btn-add-task-outlined {
  width: 30px;
  aspect-ratio: 1 /1;
  border: 2px solid var(--color-dark-blue);
  border-radius: 10px;
}

.btn-add-task-outlined svg {
  width: 15px;
  height: 15px;
}

.btn-add-task-outlined:hover,
.btn-add-task-outlined:hover svg path {
  border-color: var(--color-blue);
  stroke: var(--color-blue);
}

/* Add Task Button Filled */
.btn-add-task-filled {
  width: 30px;
  aspect-ratio: 1 /1;
  background-color: var(--color-dark-blue);
  border-radius: 10px;
}

.btn-add-task-filled svg {
  width: 20px;
  height: 20px;
}

.btn-add-task-filled:hover {
  background-color: var(--color-blue);
}

.btn-add-task-filled:active {
  background-color: var(--color-darker-blue);
}

.btn-add-task-with-text {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  border-radius: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  min-width: 137px;
  font-size: 21px;
  font-weight: 700;
}

.btn-add-task-with-text svg {
  width: 20px;
  height: 20px;
}

.btn-add-task-with-text:hover {
  background-color: var(--color-blue);
}

.btn-add-task-with-text:active {
  background-color: var(--color-darker-blue);
}

/* NO TASK CONTAINER */
.no-task-container {
  height: 48px;
  width: 100%;
  min-width: 252px;
  background-color: var(--color-lightest-grey);
  color: var(--color-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed var(--color-grey);
  border-radius: 10px;
  transition: transform 125ms;
}

/* TASK CONTAINER */
.task-container {
  min-width: 252px;
  width: 252px;
  max-width: 252px;
  padding: 16px;
  border-radius: 24px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--color-white);
  cursor: pointer;
  transition: none;
}

#task-container-indication {
  min-width: 252px;
  width: 252px;
  padding: 16px;
  border-radius: 24px;
  border: 1px dashed var(--color-grey);
  pointer-events: none;
}

.task-container:active {
  cursor: grabbing;
}

.grabbed-task {
  transform: rotate(5deg);
  opacity: 0.5;
  box-shadow: none;
}

#visibleTaskClone div {
  box-sizing: border-box;
}

.task-category {
  width: fit-content;
  color: var(--color-white);
  padding: 4px 16px;
  border-radius: 8px;
}

.task-title {
  font-weight: 700;
  margin-bottom: 8px;
}

.task-description {
  color: var(--color-grey);
}

.task-subtask-progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtask-progress-bar {
  width: 128px;
  height: 8px;
  border-radius: 8px;
  background-color: #f4f4f4; 
}

.subtask-progress-bar-fill {
  width: 50%;
  height: 100%;
  background-color: #4589ff;
  border-radius: 16px;
}

.subtask-progress-text {
  font-size: 12px;
}

.task-assignments-prio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-assignments {
  display: flex;
  flex-wrap: wrap;
}

.task-assignments .profile-badge {
  position: relative;
}

.task-prio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
}

/* POP UP VIEW */

.popup-container {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-task-container {
  max-width: 525px;
  width: 100%;
  padding: 32px 0px;
  background-color: var(--color-white);
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100% - 32px);
  position: relative;
  right: -100%;
  transition: right 225ms ease-in-out;
}

.popup-task-edit-container {
  max-width: 525px;
  width: 100%;
  padding: 32px 0px;
  background-color: var(--color-white);
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 32px);
}

.popup-task-edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}

.popup-task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}

.popup-task-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  margin: 0 12px 0 24px;
  padding: 0px 4px 0 0;
}

.popup-task-edit-main {
  overflow-y: scroll;
  margin: 0 12px 0 24px;
  padding: 0px 4px 0 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.close-button {
  width: 32px;
  height: 32px;
}

.popup-task-info-container {
  display: flex;
  gap: 25px;
  flex-shrink: 0;
}

.popup-task-info-title {
  color: #42526e;
  min-width: 80px;
}

.popup-task-info {
  display: flex;
  gap: 10px;
}

.popup-task-assigned-to-contacts,
.popup-task-subtasks {
  overflow-y: scroll;
  margin-right: 4px;
  padding-right: 4px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.popup-task-assigned-to-contacts::-webkit-scrollbar,
.popup-task-subtasks::-webkit-scrollbar,
.subtasks-container::-webkit-scrollbar,
.contact-list::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-white);
}

.width-40 {
  width: 40px;
}

.border-2px {
  border-width: 2px !important;
}

.contacts-list-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 56px;
  padding: 0 16px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-8px {
  gap: 8px;
}

.subtasks-list-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 32px;
  padding: 0 16px;
}

.subtasks-list-item:hover {
  background-color: var(--color-lightest-grey);
  border-radius: 8px;
}

.popup-task-footer {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  margin: 0 24px;
}

.popup-task-footer button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.btn-task-edit:hover,
.btn-task-edit:hover path {
  color: var(--color-blue);
  fill: var(--color-blue);
}

/* Input Field Styling */

.input-field-container,
.select-field-container {
  height: 40px;
  border: 1px solid var(--color-lighter-grey);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 21px;
  background-color: var(--color-white);
}

.textarea-field-container {
  min-height: 88px;
  border: 1px solid var(--color-lighter-grey);
  border-radius: 10px;
  display: flex;
  align-items: start;
  padding: 18px 21px;
}

.input-field-container:focus-within,
.select-field-container:focus-within,
.textarea-field-container:focus-within {
  border: 1px solid var(--color-blue);
}

.input-field-container input,
.select-field-container select {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.textarea-field-container textarea {
  border: none;
  outline: none;
  min-width: 100%;
  min-height: 56px;
  resize: vertical;
  font-size: 16px;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

/* input validation */
.invalid {
  border-color: #ff8190 !important;
}

/* Popup Edit Container */

.popup-task-edit-info-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup-task-edit-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
}

/* Category */

.task-category-option {
  height: 48px;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 10px;
}

.task-category-option:hover {
  background-color: var(--color-lightest-grey);
}

#allOptions {
  width: 100% !important;
}

/* Prio Buttons */
.prio-buttons-container {
  display: flex;
  gap: 16px;
}

.prio-button {
  width: 104px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.prio-button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.selected-prio {
  background-color: #ff3d00;
  color: var(--color-white);
  box-shadow: none !important;
}

.selected-prio path {
  fill: var(--color-white);
}

/* Contact Select */
.contact-select {
  position: relative;
}

.contact-icons-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

/* Edit Subtasks */
.subtasks-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 112px;
  overflow-y: auto;
  margin-right: 4px;
  padding-right: 4px;
}

.subtask-buttons-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.subtask-list-item {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  word-break: break-word;
}

.popup-task-edit-footer {
  display: flex;
  justify-content: end;
  margin: 0 24px;
}

/* ok-button */
.ok-button {
  font-size: 21px;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  padding: 18px 10px;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.ok-button:hover {
  background-color: var(--color-blue);
}

.ok-button:active {
  background-color: var(--color-darker-blue);
}

.d-none {
  display: none !important;
}

/* Custom Contact Select */
.category-container,
.assigned-to-container {
  position: relative;
  z-index: 2;
}

.contacts-list {
  max-height: 224px;
}

.assigned-to-contacts-list-item {
  /* width: 100%; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  min-height: 56px;
  padding: 0 16px;
  border-radius: 10px;
}

.assigned-to-contacts-list-item:hover {
  background-color: var(--color-lightest-grey);
  color: black;
}

.assigned-to-contacts-list-item:hover img {
  filter: brightness(0);
}

.assigned {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.assigned img {
  filter: brightness(0) invert(1);
}

.assigned-to-contact {
  display: flex;
  gap: 16px;
  align-items: center;
}

.category-list-container,
.contact-list-container {
  position: relative;
  top: -16px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  padding-top: 16px;
  border-radius: 10px;
  max-height: 320px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-right: 4px;
  padding-right: 4px;
  overflow-y: scroll;
}

/* Add new Contact Button */
.btn-add-new-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: 700;
  gap: 16px;
  padding: 12px 16px;
  width: calc(100% - 32px);
  min-height: 56px;
  margin: 8px 16px;
}

.btn-add-new-contact img {
  width: 32px;
}

/* subtask edit */

.subtasks-list {
  max-height: 96px;
  min-height: 96px;
}

.subtask-edit-input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.subtask-list-item:focus-within {
  border-bottom: 1px solid var(--color-blue);
}

.width-24px {
  width: 24px;
}

.input-field-container:focus-within .createNewSubtask-button {
  display: none;
}

.add-new-task-buttons {
  display: none;
}

.input-field-container:focus-within .add-new-task-buttons {
  display: flex;
}

/* Due Date */

.pos-rel {
  position: relative;
}

.input-date-img {
  position: absolute;
  right: 16px;
  pointer-events: none;
  background-color: var(--color-white);
}

/* Icon Buttons */

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  min-width: 24px;
}

.icon-button:hover {
  background-color: var(--color-lightest-grey);
  border-radius: 100%;
}

/* popup-add-task-container */

.popup-add-task-container {
  height: 860px;
  max-height: calc(100% - 32px);
  padding: 64px;
  background-color: var(--color-white);
  border-radius: 30px;
  position: relative;
  right: -100%;
  transition: right 225ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.popup-add-task-container .taskInfo {
  overflow: unset;
}

.popup-add-task-container .input-date-img {
  margin: 0;
  top: 8px;
  right: 8px;
}

.popup-add-task-container .headAddTask {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
}

.popup-add-task-container h1 {
  padding: 0;
  margin: 0;
}

.popup-add-task-container .taskData {
  width: 100% !important;
  overflow: scroll;
}

.popup-add-task-container .taskDataFields {
  gap: 32px;
}

.popup-add-task-container .leftSite,
.popup-add-task-container .rightSite {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 0;
  justify-content: unset;
  max-width: 440px;
  width: 100%;
}

.popup-add-task-container input,
.popup-add-task-container textarea {
  box-sizing: border-box;
  width: 100%;
}

.popup-add-task-container .subInputButton {
  height: 40px !important;
}

.popup-add-task-container .addTaskBtns {
  width: 100% !important;
}



@media (min-width: 1000px) {
  h1 {
    font-size: 61px;
  }

  h3 {
    font-size: 20px;
  }

  .board-main-container {
    top: 96px;
    left: 232px;
    max-width: 1440px;
    width: calc(100% - 232px);
    height: calc(100% - 96px);
    padding: 80px 64px 0 64px;
    display: flex;
    flex-direction: column;
  }

  .board-header {
    flex-wrap: nowrap;
  }

  .board-header .add-task-button-blue {
    order: 3;
  }

  .board-searchbar-container {
    max-width: 312px;
  }

  .board-body {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    flex: 1;
  }

  .task-section {
    min-width: 252px;
  }

  .task-section-body {
    flex-direction: column;
  }

  /* popup-add-task-container */
  .popup-add-task-container {
    width: 1116px;
    max-width: 1116px;
  } 

  .popup-add-task-container .taskDataFields {
    flex-direction: row;
    gap: 8px;
  } 

  .popup-add-task-container .separator-border {
    display: block !important;
  }

  .popup-add-task-container .contactSelectField {
    top: 60px !important;
    width: 100% !important;
  }
  

}

@media (max-width: 400px) {

  /* task popup view */
  .contacts-list-item {
    gap: 4px;
  }

  /* edit task popup view */
  .prio-buttons-container {
    flex-direction: column;
    align-items: center;
  }

  .assigned-to-contact {
    gap: 4px;
  }

  .contact-user-state {
    font-size: 12px;
  }
}

