@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter-v12-latin-regular.woff2');
    font-weight: 400;
    font-weight: normal;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter-v12-latin-100.woff2');
    font-weight: 100;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter-v12-latin-200.woff2');
    font-weight: 200;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter-v12-latin-300.woff2');
    font-weight: 300;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter-v12-latin-500.woff2');
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter-v12-latin-600.woff2');
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter-v12-latin-700.woff2');
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter-v12-latin-800.woff2');
    font-weight: 800;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter-v12-latin-900.woff2');
    font-weight: 900;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
:root {
    --col-main: #2A3647;
    --col-main-active: #091931;
    --col-main-bg: #F6F7F8;
    --col-white: #FFFFFF;
    --col-shadow: rgba(0,0,0,0.1);
    --col-hr: #D1D1D1;
    --col-link: #007CEE;
    --col-btn: var(--col-main);
    --col-btn-activ: #29ABE2;

    --col-contact-badge-1: #FF7A00;
    --col-contact-badge-2: #9327FF;
    --col-contact-badge-3: #6E52FF;
    --col-contact-badge-4: #FC71FF;
    --col-contact-badge-5: #FFBB2B;
    --col-contact-badge-6: #1FD7C1;
    --col-contact-badge-7: #462F8A;
    --col-contact-badge-8: #FF4646;
    --col-contact-badge-9: #FFC700;

    --grad-contact-hover: linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(243,243,243,1) 100%);
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 16px;
    position: relative;
}

div {
    box-sizing: border-box;
}

span {
    font-family: Inter;
    font-size: 20px;
    line-height: 24px;
}

.insert-top {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 1;
    height: 80px;
    width: 100%;
    background: var(--col-white);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}

.insert-bottom {
    position: fixed;
    inset: auto 0 0 0;
    z-index: 1;
    height: 80px;
    width: 100%;
    background-color: var(--col-main);
}

.email {
    color: var(--col-link);
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

/* ------------------------------------------------------------ */
/* ----- For contact-add -------------------------------------- */
/* ------------------------------------------------------------ */
.contact-add-main {
    position: fixed;
    z-index: 2;
    right: 16px;
    bottom: 112px;
    cursor: pointer;
}

.contact-add-main:hover .contact-add-mainbox {
    background-color: var(--col-btn-activ);
    border-color: var(--col-btn-activ);
}

.contact-add-mainbox {
    width: 56px;
    height: 56px;
    background-color: var(--col-main);
    border: 1px solid var(--col-main);
    border-radius: 500px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-add-img {
    object-fit: contain;
}

/* ------------------------------------------------------------ */
/* ----- For contactlistmain ---------------------------------- */
/* ------------------------------------------------------------ */
.contact-list-main {
    position: fixed;
    top: 80px;
    width: 100%;
    height: calc(100% - 160px);
    overflow-y: auto;
    background-color: #fff;
}

.contact-list {
    position: relative;
    width: calc(100% - 28px);
    padding: 24px;
    left: 14px;
}

.contact-letterbox {
    width: 100%;
    padding: 17px 36px;
}

.contact-letter {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.contact-hr {
    width: 100%;
    height: 1px;
    margin: 8px 0;
    background-color:  var(--col-hr);
}

/* ------------------------------------------------------------ */
/* ----- For contact-listbox ---------------------------------- */
/* ------------------------------------------------------------ */
.contact-listbox {
    width: 100%;
    padding: 15px 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    cursor: pointer;
}

.contact-listbox:hover {
    background: var(--grad-contact-hover);
}

.contact-listbox-badge {
    display: flex;
    flex-direction: row;
}

.contact-listbox-badge-circle {
    width: 42px;
    height: 42px;
    background-color: #ff7a00;
    border-radius: 500px;
    border: 2px solid var(--col-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-listbox-badge-text {
    color: var(--col-white);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: center;
}

.contact-listbox-namebox {
    display: flex;
    flex-direction: column;
}

.contact-listbox-name {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.contact-listbox-mail {
    color: var(--col-link);
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
}

.contact-list-endbox {
    width: 100%;
    height: 56px;
}

/* ------------------------------------------------------------ */
/* ----- for contact-single ----------------------------------- */
/* ------------------------------------------------------------ */
.contact-single-main {
    position: fixed;
    z-index: 0;
    top: 80px;
    width: 100%;
    height: calc(100% - 160px);
    overflow-y: auto;
    background-color: var(--col-main-bg);
}

.backarrow {
    position: fixed;
    width: 32px;
    height: 32px;
    top: 128px;
    right: 16px;
    background-color: var(--col-main-bg);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.backarrow:hover {
    background-color: #eee;
}

/* ------------------------------------------------------------ */
.contact-btn-option-box {
    position: fixed;
    right: 16px;
    bottom: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contact-btn-option-box:hover .contact-btn-option {
    background-color: var(--col-btn-activ);
}

.contact-btn-option {
    width: 56px;
    height: 56px;
    background-color: var(--col-main);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------ */
.contact-single-title-box {
    position: fixed;
    left: 16px;
    top: 128px;
    width: fit-content;
    height: 90px;
    display: flex;
    flex-direction: column;
}

.contact-single-title-text {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-single-title-text-main {
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
}

.contact-single-title-text-second {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.contact-single-title-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -16px;
    height: 3px;
    width: 90px;
    background-color: var(--col-btn-activ);
    border: none;
}

/* ------------------------------------------------------------ */
.contact-single-info-box {
    position: relative;
    top: 200px;
    left: 16px;
    width: calc(100% - 32px);
}

.contact-single-info-top {
    display: flex;
    align-items: center;
    gap: 21px;
    margin-bottom: 20px;
}

.contact-single-info-badge {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact-single-info-badge-circle {
    width: 80px;
    height: 80px;
    background-color: var(--col-contact-badge-1);
    border-radius: 500px;
}

.contact-single-info-badge-text {
    position: absolute;
    width: 80px;
    color: var(--col-white);
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: center;
}

.contact-single-info-name-text {
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    word-wrap: break-word;
}

/* ------------------------------------------------------------ */
.contact-single-info-sencond {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

/* ------------------------------------------------------------ */
.contact-single-info-details {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contact-single-info-details-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-details-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.contact-details-text {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

/* ------------------------------------------------------------ */
/* ----- for contact-option-popup ----------------------------- */
/* ------------------------------------------------------------ */







/* ------------------------------------------------------------ */
/* ----- for all popups --------------------------------------- */
/* ------------------------------------------------------------ */
.popup-top-bg {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 352px;
    height: fit-content;
    padding: 66px 24px;
    background-color: var(--col-main);
    border-radius: 30px 30px 0 0;
}

.popup-top-titlebox {
    height: 100%;
    display: flex;
    align-items: center;
}

.popup-top-textbox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.after90 {
    position: relative;
    height: 16px;
}

.after90::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 3px;
    width: 90px;
    background-color: var(--col-btn-activ);
    border: none;
}

.popup-top-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.popup-top-titletext {
    color: var(--col-white);
    font-size: clamp(32px, 11.7vw, 47px);
    font-weight: 700;
    line-height: 56.4px;
}

.popup-top-secondtext {
    color: var(--col-white);
    font-size: clamp(12px, 5vw, 20px);
    font-weight: 400;
    line-height: 24px;
}

/* ------------------------------------------------------------ */
.popup-person-imgbox {
    position: absolute;
    bottom: -60px;
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--col-hr);
    border: 3px solid var(--col-white);
    border-radius: 500px;
    box-shadow: 0 0 4px 0 var(--col-shadow);
}

/* ------------------------------------------------------------ */
.close-x {
    position: absolute;
    top: 24px;
    right: 16px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-x:hover {
    background-color: var(--col-btn-activ);
}

/* ------------------------------------------------------------ */
input {
    width: calc(100% - 24px);
    height: 24px;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

input::placeholder {
    color: var(--col-hr);
}

.border:has(input:focus) {
    border-color: var(--col-btn-activ);
}

/* ------------------------------------------------------------ */
button.dark {
    padding: 12px 10px;
    background-color: var(--col-main);
    border-radius: 10px;
    color: var(--col-white);
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 4px;
}

button.dark div {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------ */
/* ----- for contact-add-popup -------------------------------- */
/* ------------------------------------------------------------ */
.popup-addcon-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: #00000040;
    object-position: top center;
    pointer-events: none;
}

.popup-addcon-background {
    z-index: 999;
    position: absolute;
    left: 16px;
    top: calc(100% + 10px);
    width: calc(100% - 32px);
    height: calc(100% - 10%);
    background-color: var(--col-white);
    border-radius: 30px;
    box-shadow: 0 0 4px 0 var(--col-shadow);
    transition: top 300ms;
}

.popup-addcon-main.inview .popup-addcon-background {
    top: calc(100% - 95%);
}

.popup-addcon-main.inview {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: all;
}

.popup-addcon-main:not(.inview) .popup.popup-addcon-background {
    top: calc(100% + 10px);
}

.popup-addcon-main:not(.inview) {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* ------------------------------------------------------------ */
.popup-addcon-inputbox {
    position: relative;
    flex: 1;
    padding: 0 16px;
}

.popup-addcon-inputbox-form {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popup-addcon-input-box {
    padding: 8px 16px;
    border: 1px solid var(--col-hr);
    border-radius: 10px;
    background-color: var(--col-white);
}

.popup-addcon-input-innerbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup-addcon-input-imgbox {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-addcon-btn {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

/* ------------------------------------------------------------ */
/* ----- for contact-edit-popup ------------------------------- */
/* ------------------------------------------------------------ */
.popup-editcon-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: #00000040;
    object-position: top center;
    pointer-events: none;
}

.popup-editcon-background {
    z-index: 999;
    position: absolute;
    left: 16px;
    top: calc(100% + 10px);
    width: calc(100% - 32px);
    height: calc(100% - 10%);
    background-color: var(--col-white);
    border-radius: 30px;
    box-shadow: 0 0 4px 0 var(--col-shadow);
    transition: top 300ms;
}

.popup-editcon-main.inview .popup-editcon-background {
    top: calc(100% - 95%);
}

.popup-editcon-main.inview {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: all;
}

.popup-editcon-main:not(.inview) .popup.popup-editcon-background {
    top: calc(100% + 10px);
}

.popup-editcon-main:not(.inview) {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* ------------------------------------------------------------ */
.popup-editcon-inputbox {
    position: relative;
    flex: 1;
    padding: 0 16px;
}

.popup-editcon-inputbox-form {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popup-editcon-input-box {
    padding: 8px 16px;
    border: 1px solid var(--col-hr);
    border-radius: 10px;
    background-color: var(--col-white);
}

.popup-editcon-input-innerbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup-editcon-input-imgbox {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-editcon-btn {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

/* ------------------------------------------------------------ */
/* ----- Color-Classes ---------------------------------------- */
/* ------------------------------------------------------------ */
.bg_contact_1 {
    background-color: var(--col-contact-badge-1);
}

.bg_contact_2 {
    background-color: var(--col-contact-badge-2);
}

.bg_contact_3 {
    background-color: var(--col-contact-badge-3);
}

.bg_contact_4 {
    background-color: var(--col-contact-badge-4);
}

.bg_contact_5 {
    background-color: var(--col-contact-badge-5);
}

.bg_contact_6 {
    background-color: var(--col-contact-badge-6);
}

.bg_contact_7 {
    background-color: var(--col-contact-badge-7);
}

.bg_contact_8 {
    background-color: var(--col-contact-badge-8);
}

/* ------------------------------------------------------------ */
/* ----- Media-Queries ---------------------------------------- */
/* ------------------------------------------------------------ */
@media (min-width: 400px) {
    .popup-top-bg {
        height: 352px;
    }
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
.d-none {
    display: none;
}