:root {
    --col-main: #2A3647;
    --col-main-active: #091931;
    --col-main-bg: #F6F7F8;
    --col-white: #FFFFFF;
    --col-hr: #D1D1D1;
    --col-link: #007CEE;
    --col-btn: var(--col-main);
    --col-btn-activ: #29ABE2;

    --col-shadow10:  0 4px 4px 0 rgba(0,0,0,0.1);
    --col-shadow25:  0 4px 4px 0 rgba(0,0,0,0.25);
}

.preview-list {
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.elementbox {
    min-width: 250px;
    width: fit-content;
    min-height: 50px;
    height: fit-content;
    padding: 10px;
    border: 2px dotted #ddd;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementbox:hover {
    background-color: #ffd;
}

/* ############################################################ */
/* input-Feld, img=24x24px */
.input-border {
    padding: 12px 21px;
    background-color: var(--col-white);
    border-radius: 10px;
    border: 1px solid var(--col-hr);
}

.input-border:has(.input-field:focus) {
    border-color: var(--col-btn-activ);
}

.input-innerbox {
    display: flex;
    align-items: center;
}

.input-field {
    width: calc(100% - 24px);
    height: 24px;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.input-field::placeholder {
    color: var(--col-hr);
}

.input-imgbox {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ############################################################ */

