.return-password-container {
  text-align: center;
  width: 396px;
  height: 427px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.h2-40 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.h2-40::after {
  background-color: #29abe2;
  content: "";
  position: absolute;
  left: 50%;
  bottom: -16px;
  height: 4px;
  width: 44%;
  max-width: calc(100% - 2 * 10px);
  transform: translateX(-50%);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.return-text {
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

#sendMailBtn {
  font-weight: 600;
  width: 180px;
  height: 51px;
  background-color: #2a3647;
  color: white;
  padding: 4px 0px;
  border: none;
  border-radius: 8px;
}

.back-arrow {
  position: relative;
  width: 32px;
  height: 32px;
  top: 62px;
  right: 144px;
}

.send-btn {
  display: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  width: 371px;
  height: 74px;
  font-weight: 600;
  background-color: #2a3647;
  color: white;
  padding: 0px, 17px, 0px, 17px;
  border: none;
  border-radius: 20px;
}

.send-btn img {
  padding-right: 8px;
}

.send-btn:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

#passwordInfoReset {
  position: fixed;
  background-color: #29abe2;
  color: white;
  z-index: 10;
  border-radius: 10px;
  padding: 10px;
  text-align: initial;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.popup-password {
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.passwort-reset-title {
  margin-top: 20px;
}

.input-error {
  border: 1px solid red !important;
}

.success-popup {
  display: none;
  position: fixed;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
}
