body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 16px;
}

header h1 {
    font-size: 47px;
    margin-block-start: 0;
}

header img:hover {
    cursor: pointer;
}

.textPd {
    padding-left: 16px;
    padding-right: 16px;
}

li::marker {
    font-size: 27px;
    font-weight: bold;
}

li h3 {
    margin-block-start: 16px;
    margin-block-end: 0;
}

