body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    background-color: #F6F7F8;
}

h1 {
    font-size: 47px;
}

h2 {
    font-size: 27px;
}

.help-main {
    position: absolute;
    top: 80px;
    left: 0px;
    height: calc(100% - 160px);
    width: 100%;
    padding: 48px 16px 48px 16px;
    overflow-y: auto;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 16px;
}

header h1 {
    margin-block-start: 0;
}

header img:hover {
    cursor: pointer;
}

.textPd {
    padding-left: 16px;
    padding-right: 16px;
}

li::marker {
    font-size: 27px;
    font-weight: bold;
}

li {
    padding-left: 35px;
    margin-bottom: 16px;
}

li h3 {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    top: -7px;
}

li span {
    position: relative;
    top: -7px;
}

.return-button {
    aspect-ratio: 1 / 1;
    outline: none;
    border: none;
    background-color: transparent;
}

.return-button:hover {
    background-color: #E7E7E7;
    border-radius: 100%;
}


@media (min-width: 1000px) {
    .help-main {
        height: calc(100% - 96px);
        width: calc(100% - 232px);
        top: 96px;
        left: 232px;
        padding: 80px 64px 80px 64px;
    }

    h1 {
        font-size: 61px;
    }
}
