body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.policy {
    padding: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header h1 {
    margin-block-start: 8px;
}

header img:hover {
    cursor: pointer;
}

