.reset-password-container {
  text-align: center;
  width: 396px;
  height: 497px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  background-color: white;
}

.h2-40 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.h2-40::after {
  background-color: #29abe2;
  content: "";
  position: absolute;
  left: 50%;
  bottom: -16px;
  height: 4px;
  width: 44%;
  max-width: calc(100% - 2 * 10px);
  transform: translateX(-50%);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.return-text {
  margin-top: 18px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 18px;
}

.back-arrow {
  position: relative;
  width: 32px;
  height: 32px;
  top: 62px;
  right: 144px;
}

#continueBtn {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 180px;
  height: 51px;
  font-weight: 600;
  background-color: #2a3647;
  color: white;
  padding: 4px, 0px, 4px, 0px;
  border: none;
  border-radius: 8px;
}

#continueBtn:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.pw-reset-btn {
  display: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  width: 326px;
  height: 74px;
  font-weight: 600;
  background-color: #2a3647;
  color: white;
  padding: 0px, 17px, 0px, 17px;
  border: none;
  border-radius: 20px;
}

.pw-reset-btn:hover {
  cursor: pointer;
  background-color: #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
