.signUp-container {
  text-align: center;
  width: 396px;
  height: 595px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.logo-position {
  position: absolute;
  top: 50px;
  left: 50px;
}

.icon-person {
  background: url(/assets/img/person.svg) no-repeat right;
  background-position: calc(100% - 16px) center;
}

.arrow-back {
  position: relative;
  width: 32px;
  height: 32px;
  top: -230px;
  right: 138px;
}

.accept-privacy-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #a8a8a8;
}

.accept-privacy-box a {
  text-decoration: none;
  color: #29abe2;
  cursor: pointer;
}

#confirmationMessage {
  padding: 10px;
  border: 1px solid green;
  background-color: #e8ffe8;
  display: none;
}

#passwordInfo {
  position: absolute;
  top: 334px;
  left: 26px;
  background-color: #29abe2;
  color: white;
  z-index: 10;
  border-radius: 10px;
  margin-top: 12px ;
  padding: 10px;
  text-align: initial;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.h2-32px {
  margin-bottom: 32px;
}
