:root {
  --col-main: #2a3647;
  --col-main-active: #091931;
  --col-main-bg: #f6f7f8;
  --col-white: #ffffff;
  --col-hr: #d1d1d1;
  --col-link: #007cee;
  --col-btn: var(--col-main);
  --col-btn-activ: #29abe2;

  --col-shadow10: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  --col-shadow25: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.signUp-container {
  text-align: center;
  width: 396px;
  height: 595px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  background-color: #ffffff;
}

.bc-white {
  background-color: #ffffff;
}

.logo-position {
  position: absolute;
  top: 50px;
  left: 50px;
}

#signUpLogo {
  width: 100%;
}

#signUpBtn {
  font-weight: 600;
  width: 180px;
  background-color: #2a3647;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
}

.border {
  border: 2px solid #29abe2 !important;
}

.icon-person {
  background: url(/assets/img/person.svg) no-repeat right;
  background-position: calc(100% - 16px) center;
}

.arrow-back {
  position: relative;
  width: 35px;
  height: 35px;
  top: -230px;
  right: 138px;
  cursor: pointer;
  z-index: 2000;
}

.accept-privacy-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #a8a8a8;
}

.accept-privacy-box a {
  text-decoration: none;
  color: #29abe2;
  cursor: pointer;
}

#confirmationMessage {
  padding: 10px;
  border: 1px solid green;
  background-color: #e8ffe8;
  display: none;
}

#passwordInfo {
  position: absolute;
  top: 330px;
  left: 21px;
  background-color: #29abe2e3;
  color: white;
  z-index: 10;
  border-radius: 8px;
  margin-top: 12px;
  padding: 5px;
  text-align: initial;
  box-shadow: 0px 0px 14px 3px #0000000a;
  font-size: 14px;
}

.h2-32px {
  margin-bottom: 32px;
}

#weakPasswordNotification {
  background-color: #ffe3e3;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  margin-top: 10px;
}

#countdown {
  font-size: 24px;
  font-weight: 500;
  color: #29abe2;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.arrow-back:hover {
  background-color: #e7e7e7;
  border-radius: 100%;
}

.preview-list {
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.elementbox {
  min-width: 250px;
  width: fit-content;
  min-height: 50px;
  height: fit-content;
  padding: 10px;
  border: 2px dotted #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-popup {
  position: absolute;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #29abe2;
  color: black;
  border-radius: 5px;
  z-index: 10;
}

@media (min-width: 1000px) {
  #signUpLogo {
    width: 100% !important;
  }

  .signUp-container {
    text-align: center;
    width: 598px;
    height: 630px;
  }
  .arrow-back {
    position: relative;
    width: 35px;
    height: 35px;
    top: -230px;
    right: 170px;
  }
  .sign-up-field {
    width: 380px !important;
    gap: 16px;
  }

  .custom-checkbox-container {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-top: 28px;
  }

  .border {
    border: 2px solid #29abe2 !important;
  }

  #passwordInfo {
    position: absolute;
    top: 350px;
    left: 73px;
    background-color: #29abe2e3;
    color: white;
    z-index: 10;
    border-radius: 10px;
    margin-top: 12px;
    padding: 10px;
    text-align: initial;
    box-shadow: 0px 0px 14px 3px #0000000a;
    font-size: 14px;
  }

  #signUpBtn {
    width: 130px;
    font-size: 18px;
  }
}

@media (max-width: 410px) {
  .signUp-container {
    width: 320px;
    height: 500px;
  }

  .sign-up-field {
    height: 24px;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    width: 220px;
  }

  .arrow-back {
    position: relative;
    width: 35px;
    height: 35px;
    top: -210px;
    right: 117px;
  }

  .logo-position {
    position: absolute;
    top: 15px;
    left: 25px;
  }

  #signUpLogo {
    width: 75% !important;
  }
}
