.main-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 20px;
  background-color: #f6f7f8;
  z-index: 200;
}

.main {
  display: none;
  transition: opacity 1s;
  opacity: 0;
}

.blue-line {
  border: 2px solid #29abe2;
  height: 0px;
  width: 94px;
  margin-top: 13px;
  border-radius: 10px;
}

.context-line {
  display: flex;
  flex-direction: column;
}

.context-line p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.h2-47 {
  font-size: 47px;
  font-weight: 700;
  line-height: 56px;
}

.sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h3-47px {
  font-size: 47px;
  font-weight: 600;
}

.first-container {
  width: 396px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 13px;
  padding-right: 5px;
}

.second-container {
  width: 396px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 13px;
  padding-right: 5px;
}

.urgent-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.urgent-left:hover {
  cursor: pointer;
}

.third-container {
  width: 396px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 13px;
  margin-bottom: 15px;
  padding-right: 5px;
}

h3 {
  font-size: 54px;
}

#taskInBoard {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#taskInProgress {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#awaitingfeedback {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#urgent {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#urgent img {
  margin-right: 16px;
  width: 40px;
  height: 40px;
  gap: 10px;
}

#toDo {
  width: 186px;
  height: 110px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#toDo img {
  width: 40px;
  height: 40px;
  margin-right: 13px;
}
#done {
  width: 186px;
  height: 110px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#done img {
  width: 40px;
  height: 40px;
  margin-right: 13px;
}

.right-container {
  background-color: #ffffff;
  display: flex;
  position: absolute;
  justify-content: center;
  z-index: 20;
  top: 80px;
  left: 0px;
  width: 100%;
  height: 76%;
  flex-direction: column;
  z-index: 20;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.right-container p:first-child {
  text-align: center;
  font-size: 36px;
}

.right-container p:last-child {
  color: #29abe2;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
}

.grey-line {
  border: 2px solid #d1d1d1;
  height: 70px;
  border-radius: 10px;
}

#taskInBoard,
#taskInProgress,
#awaitingfeedback,
#urgent,
#toDo,
#done {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

#taskInBoard:hover,
#taskInProgress:hover,
#awaitingfeedback:hover,
#urgent:hover,
#toDo:hover,
#done:hover {
  background-color: #2a3647;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.upcoming-deadline p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.upcoming-deadline p:first-child {
  font-size: 16px;
  font-weight: 700;
}

.summery-task-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
}

@media (min-width: 1000px) {
  * {
    max-width: 100vw;
  }

  .main-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 149px;
    margin-bottom: 51px;
    margin-left: 300px;
    background-color: #f6f7f8;
  }

  .first-container {
    width: 560px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 337px;
  }

  .second-container {
    width: 560px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 337px;
  }
  .third-container {
    width: 560px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 337px;
    margin-bottom: 20px;
  }

  #done {
    width: 264px;
    height: 168px;
  }

  #toDo {
    width: 264px;
    height: 168px;
  }

  #urgent img {
    margin-right: 16px;
    width: 60px;
    height: 60px;
    gap: 10px;
  }

  #toDo img {
    width: 69px;
    height: 69px;
    margin-right: 13px;
  }

  #done img {
    width: 69px;
    height: 69px;
    margin-right: 13px;
  }

  .h3-47px {
    font-size: 64px !important;
  }

  .summery-task-text {
    font-size: 21px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: center;
  }

  .right-container {
    opacity: 1 !important;
    top: -363px;
    left: 996px;
    width: 385px;
    height: 136px;
    display: inline-flex;
    position: relative;
  }

  .right-container p:first-child {
    text-align: left;
    font-size: 36px;
  }

  .right-container p:last-child {
    color: #29abe2;
    text-align: left;
    font-size: 52px;
    font-weight: 700;
  }

  .main-container {
    flex-wrap: wrap;
    width: 60%;
    margin-left: 333px;
  }

  main {
    width: 100vw;
  }

  .context-line {
    display: flex;
    flex-direction: row;
  }

  .h2-61px {
    font-size: 61px;
    font-weight: 700;
  }

  .blue-line {
    border: 2px solid #29abe2;
    height: 63px;
    width: 0px;
    margin-top: 0px;
    border-radius: 10px;
    position: relative;
    left: -255px;
  }

  .context-line p {
    font-size: 27px;
    font-weight: 400;
    line-height: 31.4px;
    padding-top: 20px;
    position: relative;
    left: 71px;
  }
}
