.main-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* margin-top: 100px; */
  margin-bottom: 40px;
  margin-left: 20px;
  background-color: #f6f7f8;
  z-index: 200;
}

.main {
  position: absolute;
  display: none;
  transition: opacity 1s;
  opacity: 0;
}

.blue-line {
  border: 2px solid #29abe2;
  height: 0px;
  width: 94px;
  margin-top: 13px;
  border-radius: 10px;
}

.context-line {
  display: flex;
  flex-direction: column;
}

.context-line p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.h2-47 {
  font-size: 47px;
  font-weight: 700;
  line-height: 56px;
}

.sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h3-47px {
  font-size: 47px;
  font-weight: 600;
}

.first-container {
  width: 396px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 13px;
  padding-right: 5px;
}

.second-container {
  width: 396px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 13px;
  padding-right: 5px;
}

.urgent-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.urgent-left:hover {
  cursor: pointer;
}

.third-container {
  width: 396px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 13px;
  margin-bottom: 15px;
  padding-right: 5px;
}

h3 {
  font-size: 54px;
}

#taskInBoard {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#taskInProgress {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#awaitingfeedback {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#urgent {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#urgent img {
  margin-right: 16px;
  width: 58px;
  height: 58px;
  gap: 10px;
}

#toDo {
  width: 186px;
  height: 110px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#toDo img {
  width: 40px;
  height: 40px;
  margin-right: 13px;
}
#done {
  width: 186px;
  height: 110px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#done img {
  width: 40px;
  height: 40px;
  margin-right: 13px;
}

.right-container {
  background-color: #ffffff;
  display: flex;
  position: absolute;
  justify-content: center;
  /* z-index: 20; */
  top: 80px;
  left: 0px;
  width: 100%;
  height: 76%;
  flex-direction: column;
  /* z-index: 20; */
  pointer-events: none;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  background-color: #f6f7f8;
}

.right-container p:first-child {
  text-align: center;
  font-size: 36px;
}

.right-container p:last-child {
  color: #29abe2;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
}

.grey-line {
  border: 2px solid #d1d1d1;
  height: 70px;
  border-radius: 10px;
}

#taskInBoard,
#taskInProgress,
#awaitingfeedback,
#urgent,
#toDo,
#done {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

#taskInBoard:hover,
#taskInProgress:hover,
#awaitingfeedback:hover,
#urgent:hover,
#toDo:hover,
#done:hover {
  background-color: #2a3647;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.upcoming-deadline p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.upcoming-deadline p:first-child {
  font-size: 16px;
  font-weight: 700;
}

.summery-task-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
}

.summary-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-darker-white);
}

.insert-top {
  z-index: 1 !important;
}

@media (min-width: 1000px) {
  .main {
    top: 96px;
    left: 232px;
    width: calc(100% - 232px);
    height: calc(100% - 96px);
    padding: 80px 64px 0 64px;
    display: flex;
    flex-direction: column;
  }

  .main-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 190px;
    margin-bottom: 51px;
    margin-left: 300px;
    background-color: #f6f7f8;
  }

  .first-container {
    width: 560px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 300px;
  }

  .second-container {
    width: 560px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 300px;
  }
  .third-container {
    width: 560px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 300px;
    margin-bottom: 20px;
  }

  .h2-61 {
    font-size: 61px;
    font-weight: 700;
  }

  #done {
    width: 264px;
    height: 168px;
  }

  #toDo {
    width: 264px;
    height: 168px;
  }

  #urgent img {
    margin-right: 16px;
    width: 58px;
    height: 58px;
    gap: 10px;
  }

  #toDo img {
    width: 69px;
    height: 69px;
    margin-right: 13px;
  }

  #done img {
    width: 69px;
    height: 69px;
    margin-right: 13px;
  }

  .h3-47px {
    font-size: 64px !important;
  }

  .summery-task-text {
    font-size: 21px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: center;
  }

  .right-container {
    opacity: 1;
    top: -363px;
    left: 935px;
    width: 315px;
    height: 136px;
    position: relative;
  }

  .right-container p:first-child {
    text-align: left;
    font-size: 36px;
  }

  .right-container p:last-child {
    color: #29abe2;
    text-align: left;
    font-size: 52px;
    font-weight: 700;
  }

  .main-container {
    flex-wrap: wrap;
    width: 60%;
  }

  .context-line {
    display: flex;
    flex-direction: row;
  }

  .h2-61px {
    font-size: 61px;
    font-weight: 700;
  }

  .blue-line {
    border: 2px solid #29abe2;
    height: 63px;
    width: 0px;
    margin-top: 0px;
    border-radius: 10px;
    position: relative;
    left: -255px;
  }

  .context-line p {
    font-size: 27px;
    font-weight: 400;
    line-height: 31.4px;
    padding-top: 20px;
    position: relative;
    left: 71px;
  }
}

@media (max-width: 1350px) {
  .main-container {
    flex-wrap: wrap;
    width: 60%;
    margin-left: 280px;
  }

  .first-container {
    margin-left: 280px;
  }

  .second-container {
    margin-left: 280px;
  }
  .third-container {
    margin-left: 280px;
  }

  .right-container {
    opacity: 1;
    top: -369px;
    left: 893px;
    width: 315px;
    height: 136px;
    position: relative;
  }
}
@media (max-width: 1250px) {
  .right-container {
    opacity: 1;
    top: -341px;
    left: 748px;
    width: 239px;
    height: 136px;
    position: relative;
  }

  .right-container p:first-child {
    font-size: 30px;
  }

  .right-container p:last-child {
    font-size: 40px;
  }

  .first-container {
    width: 425px;
    height: 147px;
  }

  .second-container {
    width: 425px;
    height: 147px;
  }
  .third-container {
    width: 425px;
    height: 147px;
  }
  #done {
    width: 202px;
    height: 145px;
  }

  #toDo {
    width: 202px;
    height: 145px;
  }

  #toDo img {
    width: 60px;
    height: 60px;
  }
  #done img {
    width: 60px;
    height: 60px;
  }

  #urgend img {
    width: 58px;
    height: 58px;
  }
}

@media (max-width: 1000px) {
  .right-container {
    background-color: #ffffff;
    display: flex;
    position: absolute;
    justify-content: center;
    /* z-index: 20; */
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* z-index: 20; */
    pointer-events: none;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    background-color: #f6f7f8;
  }

  .summary-container {
    padding: 0 16px;
    position: absolute;
    top: 80px;
    height: calc(100% - 160px);
    width: 100%;
    overflow-y: scroll;
    background-color: var(--color-darker-white);
    box-sizing: border-box;
    padding: 48px 16px 48px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-container {
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0px;
  }

  .first-container {
    margin-left: 0px;
  }

  .second-container {
    margin-left: 0px;
  }
  .third-container {
    margin-left: 0px;
  }

  .first-container {
    width: 396px;
    height: 116px;
  }

  .second-container {
    width: 396px;
    height: 116px;
  }

  .third-container {
    width: 396px;
    height: 116px;
  }

  #toDo {
    width: 186px;
    height: 110px;
  }

  #done {
    width: 186px;
    height: 110px;
  }

  .main-container {
    z-index: 0;
  }

  .summary-container {
    margin-top: 0px;
    margin-left: 2px;
  }
}
@media (max-width: 440px) {
  .third-container {
    max-width: 340px;
    width: 100%;
    height: 116px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px;
    gap: 20px;
  }

  .first-container {
    max-width: 340px;
    width: 100%;
    height: 116px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-right: 5px;
  }

  .second-container {
    max-width: 340px;
    width: 100%;
    height: 116px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

@media (max-width: 375px) {
  .main-container {
    margin-top: 24px;
  }

  .right-container {
    /* z-index: 20; */
    top: 23px;
    left: -4px;
    width: 100%;
    height: 87%;
  }
}
