.main-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.main {
  display: none; /* Am Anfang versteckt */
  transition: opacity 1s; /* Übergang für die Sichtbarkeit */
  opacity: 0; /* Unsichtbar am Anfang */
}

.blue-line {
  border: 2px solid #29abe2;
  height: 0px;
  width: 94px;
  margin-top: 13px;
  border-radius: 10px;
}

.context-line {
  display: flex;
  flex-direction: column;
}

.context-line p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.h2-47 {
  font-size: 47px;
  font-weight: 700;
  line-height: 56px;
}

.sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-container {
  width: 396px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 13px;
}

.second-container {
  width: 396px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 13px;
}

.urgent-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.third-container {
  width: 396px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 13px;
}

h3 {
  font-size: 54px;
}

#taskInBoard {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#taskInProgress {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#awaitingfeedback {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#urgent {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#urgent img {
  margin-right: 16px;
  width: 40px;
  height: 40px;
  gap: 10px;
}

#toDo {
  width: 186px;
  height: 110px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#toDo img {
  width: 40px;
  height: 40px;
  margin-right: 13px;
}
#done {
  width: 186px;
  height: 110px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #00000031;
}

#done img {
  width: 40px;
  height: 40px;
  margin-right: 13px;
}

.right-container {
  background-color: #ffffff;
  display: flex;
  position: absolute;
  justify-content: center;
  z-index: 20;
  top: 85px;
  height: 82%;
  width: 100vw;
  flex-direction: column;
  transition: opacity 1s;
}

.right-container p:first-child {
  text-align: center;
  font-size: 36px;
}

.right-container p:last-child {
  color: #29abe2;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
}

.grey-line {
  border: 2px solid #d1d1d1;
  height: 70px;
  border-radius: 10px;
}

#taskInBoard,
#taskInProgress,
#awaitingfeedback,
#urgent,
#toDo,
#done {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

#taskInBoard:hover,
#taskInProgress:hover,
#awaitingfeedback:hover,
#urgent:hover,
#toDo:hover,
#done:hover {
  background-color: #2a3647;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.upcoming-deadline p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.upcoming-deadline p:first-child {
  font-size: 16px;
  font-weight: 700;
}
