<div class="headAddTask">
    <h1>Add Task</h1>
</div>
<div class="taskInfo">
    <div class="leftSite width-396">
        <div class="title h4-gap">
            <h4>Title</h4>
            <form action="">
                <input class="titleInput brd-r10 item" type="text" placeholder="Enter a title" id="titleInput"
                    onclick="resetInputAlert('titleInput')">
            </form>
        </div>
        <div class="description h4-gap">
            <h4>Description</h4>
            <form action="">
                <textarea class="descriptionInput brd-r10 item" name="" id="descriptionInput"
                    placeholder="Enter a Description" onclick="resetInputAlert('descriptionInput')"></textarea>
            </form>
        </div>
        <div class="prio h4-gap width-396 ">
            <h4>Prio</h4>
            <div id="btnSection" class="btnSection width-396 brd-r10"
                onclick="resetPrioAlert('urgentBtn','mediumBtn','lowBtn')">
                <a id="urgentBtn" class="item brd-r10" onclick="selectPrio(1)">Urgent <img id="urgent"
                        src="./assets/img/capa2.svg" alt=""></a>
                <a id="mediumBtn" class="item brd-r10" onclick="selectPrio(2)">Medium <img id="medium"
                        src="./assets/img/prio-media.svg" alt=""></a>
                <a id="lowBtn" class="item brd-r10" onclick="selectPrio(3)">Low <img id="low"
                        src="./assets/img/prio-baja.svg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="border d-none">
    </div>
    <div class="rightSite width-396">
        <div>
            <div class="h4-gap">
                <h4>Due date</h4>
                <input onclick="today(); resetInputAlert('dateToday')" class="date item brd-r10" type="date"
                    id="dateToday">
            </div>
            <div class="selectCategory h4-gap">
                <h4>Category</h4>
                <div class="custom-select">
                    <div class="categorySelect">
                        <div id="categoryInput" class="categorySelector brd-r10 item"
                            onclick="selectCategory(); resetInputAlert('categoryInput')">
                            <span id="chosenCategory">Select task Category</span>
                            <img id="categoryArrow" src="./assets/img/arrow_drop_down.svg" alt="">
                        </div>
                        <div id="allOptions" class="selector brd-r10 d-none">
                            <div class="option item" onclick="selectOption(this)">Technical Task</div>
                            <div class="option item" onclick="selectOption(this)">User Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="assignedTo">
                <h4>Assigned to</h4>
                <div class="selectContacts">
                    <div id="searchContact" class="categorySelector brd-r10" onclick="resetInputAlert('searchContact')">
                        <input type="text" class="brd-transparent width-100" name="" id="searchContactInput"
                            placeholder="Select contacts to assign" onclick="showContacts()" onkeyup="searchContacts()">
                        <img id="contactsArrow" class="item" src="./assets/img/arrow_drop_down.svg"
                            onclick="showContacts()">
                    </div>
                </div>
                <div>
                    <div id="checkBoxes" class="selector scrollbar brd-r10 d-none">
                        <div id="contactDropDown"></div>
                        <div class="addNewContact">
                            <button class="addNewContactBtn brd-r10 item">Add new contact <img
                                    src="./assets/img/person_add.svg" alt=""></button>
                        </div>
                    </div>
                </div>
                <div id="contactInitial" class="d-none"></div>
            </div>
            <div class="subTasks h4-gap">
                <h4>Subtasks</h4>
                <div id="subTaskInputCover" class="item brd-r10" onclick="toggleSubTaskInput()">
                    <span>Add new subtask</span>
                    <img src="./assets/img/add.svg" alt="">
                </div>
                <div id="realSubInput" class="subTaskInput d-none">
                    <input id="newSub" type="text" placeholder="Add new subtask">
                    <div class="subInputButton">
                        <img class="item" src="./assets/img/close.svg" onclick="toggleSubTaskInput()" alt="">
                        <div class="subBorder"></div>
                        <img class="item" src="./assets/img/input_check.svg" onclick="createSubTask()" alt="">
                    </div>
                </div>
                <div id="subTaskList" class="listedSubTasks scrollbar">
                </div>
            </div>
        </div>
        <div>
            <div class="createBtn">
                <a class="clear brd-r10 d-none" onclick="clearTaskInput()">Clear <img src="./assets/img/close.svg"
                        alt=""></a>
                <a class="create brd-r10" onclick="createTask()">Create Task <img src="./assets/img/check.png"
                        alt=""></a>
            </div>
        </div>
    </div>
</div>