    <!-- <div class="insert-bottom"> -->
        <div class="footer">
            <div class="desktop-join-logo">
                <div class="join-logo">
                    <a href="summary.html"><img src="./assets/img/desktop_navbox_mainlogo.png"></a>
                </div>
            </div>
            <nav id="nav-menu" class="nav-menu">
                <a class="nav-menu-link" href="/summary.html">
                    <img src="./assets/img/mnu_summary_gray.png">
                    <span>Summary</span>
                </a>
                <a class="nav-menu-link" href="/board.html">
                    <img src="./assets/img/mnu_board_gray.png">
                    <span>Board</span>
                </a>
                <a class="nav-menu-link" href="/add_task.html">
                    <img src="./assets/img/mnu_addtask_gray.png">
                    <span>Add Tasks</span>
                </a>
                <a class="nav-menu-link" href="/contacts.html">
                    <img src="./assets/img/mnu_contacts_gray.png">
                    <span>Contacts</span>
                </a>
            </nav>
            <div class="nav-bottom-linkbox">
                <a class="nav-bottom-link" href="privacy_policy.html">Privacy Policy</a>
                <a class="nav-bottom-link" href="legal_notice.html">Legal notice</a>
            </div>
        </div>
    <!-- </div> -->
