    <!-- <div class="insert-top"> -->
        <div class="header">
            <a id="headerimg" href="summary.html"><img src="./assets/img/mobile_header_mainlogo.png"></a>
            <div class="header-title" id="header-title">
                <span>Kanban Project Management Tool</span>
            </div>
            <div class="user-header">
                <a href="./help.html">
                    <img src="./assets/img/help.png">
                </a>
                <button id="user-icon" class="user-icon" onclick="useroptions()">
                    <div id="user-name" class="user-name">&nbsp;&nbsp;</div>
                </button>
            </div>
        </div>
        <div class="useroptions" id="useroptions">
            <a class="useroptions-link" href="./legal_notice.html" onclick="useroptions(true)">Legal Notice</a>
            <a class="useroptions-link" href="./privacy_policy.html" onclick="useroptions(true)">Privacy Policy</a>
            <a class="useroptions-link" href="#" onclick="userLogout()">Log out</a>
        </div>
        <div id="msgbox" class="msgbox">
            <h3>Information</h3>
            <p id="msgbox-text">To edit please register and log in.</p>
        </div>
    <!-- </div> -->
